
$white: #fff;
$black: #000;

$paragraph: #4E4E4E;

$red: #D01010;
$light-red: #FFDCDC;

$bg: #F3F3F3;

$shadow: 0 4px 12px 0 rgba(0, 0, 0, .05);

$border-color: #00000029;

$orange: #FC6400;
$orange-hover: #ed5d04;

$light-orange: #FC64004D;

// font-family
$font-body: 'Open Sans', sans-serif;
// $font-body:  'Rasa', serif;

